<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.capableadmin.infra.mapper.ext.SysDictExtMapper">

  <select id="listByCondition" resultType="com.ddf.boot.capableadmin.model.response.sys.SysDictResponse">
    select
      dict_id,
	  dict_code,
      name,
      description,
      create_by,
      update_by,
      create_time,
      update_time
    from sys_dict
    <where>
      <if test="keyword != null and keyword != ''">
        and (name like concat('%', #{keyword}, '%') or dict_code like concat('%', #{keyword}, '%'))
      </if>
    </where>
    order by dict_id desc
  </select>
</mapper>
