<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.capableadmin.infra.mapper.ext.SysDictDetailExtMapper">
	<select id="listByCondition" resultType="com.ddf.boot.capableadmin.model.response.sys.SysDictDetailResponse">
		select detail_id,
			   dict_id,
			   label,
			   detail_code,
			   value,
			   dict_sort,
			   create_by,
			   update_by,
			   create_time,
			   update_time
		from sys_dict_detail
		<where>
			<if test="dictId != null">
				and dict_id = #{dictId}
			</if>
			<if test="keyword != null and keyword != ''">
				and (label like concat('%', #{keyword}, '%') or value like concat('%', #{keyword}, '%')
						or detail_code like concat('%', #{keyword}, '%'))
			</if>
		</where>
		order by dict_sort asc, detail_id desc
	</select>

	<delete id="deleteByDictId">
		delete
		from sys_dict_detail
		where dict_id = #{dictId}
	</delete>
</mapper>
