<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.capableadmin.infra.mapper.SysJobMapper">
    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from sys_job
        <where>
            <if test="name != null">
                `name` like concat('%', #{name}, '%')
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
        order by sort, job_id desc
    </select>

    <select id="countByJobs" resultType="int">
        SELECT count(*)
        FROM sys_user u
                 inner join
             sys_user_job j
             on u.user_id = j.user_id
        where j.job_id IN
        <foreach collection="jobIds" item="jobId" open="(" separator="," close=")">
            #{jobId}
        </foreach>
    </select>

    <delete id="deleteBatchIds">
        delete
        from sys_job
        where job_id IN
        <foreach collection="jobIds" item="jobId" open="(" separator="," close=")">
            #{jobId}
        </foreach>
    </delete>

    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_job
        where name = #{name}
        limit 1
    </select>
</mapper>
