<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.capableadmin.infra.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.ddf.boot.capableadmin.model.entity.SysDept">
    <!--@mbg.generated-->
    <!--@Table sys_dept-->
    <id column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="sub_count" jdbcType="INTEGER" property="subCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dept_id, pid, `name`, sort, enabled, create_by, update_by, create_time, update_time, 
    sub_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where dept_id = #{deptId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_dept
    where dept_id = #{deptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="dept_id" keyProperty="deptId" parameterType="com.ddf.boot.capableadmin.model.entity.SysDept" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_dept (pid, `name`, sort, 
      enabled, create_by, update_by, 
      create_time, update_time, sub_count
      )
    values (#{pid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{subCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="dept_id" keyProperty="deptId" parameterType="com.ddf.boot.capableadmin.model.entity.SysDept" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="subCount != null">
        sub_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="subCount != null">
        #{subCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddf.boot.capableadmin.model.entity.SysDept">
    <!--@mbg.generated-->
    update sys_dept
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="subCount != null">
        sub_count = #{subCount,jdbcType=INTEGER},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddf.boot.capableadmin.model.entity.SysDept">
    <!--@mbg.generated-->
    update sys_dept
    set pid = #{pid,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      sub_count = #{subCount,jdbcType=INTEGER}
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
</mapper>